/* .feature{
width: 100%;
    flex-direction: column;
    min-height: 100vh;
    background-color: red;
    display: flex
;
    padding: 2vw 2vw;
    gap: 2em;

}
.feautresection{
      width: 100%;
    min-height: 70vh;
    display: flex;
    gap: 2em;  
}
.featurecollection img{
        width: 100%;
    height: 450px;
    object-fit: cover;
}
.featurecollection{
        width: 32%;
    min-height: 30vh;
}
.featurepage2name p {
    font-size: 1.3rem;
}

.captions {
    padding: 0.5vw 0.3vw;
    color: #252525;
}

.featurepage2description p {
    font-size: 1.2em;
}


@media (max-width:1024px) {
.feature{
    flex-wrap: wrap;
}
.featurecollection img{

    width: 45%;
}
}   

@media (max-width:768px) {
.featurecollection{
    width: 100%;
}
.featurecollection img{
 
    height:  338px;
}
.featurepage2name p {
    font-size: 1.2rem;
}

.captions {
    padding: 0.5vw 0.3vw;
    color: #252525;
}

.page2description p {
    font-size: 1.1em;
}

} */