.page3 {
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  min-height: 120vh;justify-content: center;
  display: flex;
  flex-direction: column;gap: 2em;
  padding: 2vw 7vw;
}
.serviceheading p{
font-size: 2em;
}
.servicedescription p{
  font-size: 1.2em;line-height: 100%;
}
.textservices {
  width: 100%;color: #252525;
padding: 1vw 1vw;
display: flex;flex-direction: column;gap: 1em;
}
.imageservises img{
  width: 100%;
  height: 100%;
}
.imageservises {
  width: 100%;
  height: 98vh;

}
@media (max-width:425px) {
.imageservises{
  height: 68vh;
}
}