.page2 {
    width: 100%;
    padding: 0vw 4vw;
    min-height: 122vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: #ffffff;
}

.page2head {
    width: 100%;
    height: auto;
    /* padding: 2vw 2vw; */
    color: #535353;
    /* background-color: blue; */
}

.page2section {
    width: 100%;
    min-height: 70vh;
    display: flex;
    gap: 2em;
    /* background-color: rgb(195, 255, 0); */
}

.page2collection {
    width: 32%;
    min-height: 30vh;
    /* background-color: red; */
}

.page2collection img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.page2name p {
    font-size: 1.3rem;
}

.captions {
    padding: 0.5vw 0.3vw;
    color: #252525;
}

.page2description p {
    font-size: 1.2em;
}




@media (max-width:1024px) {
    .page2section {
        flex-wrap: wrap;
    }

    .page2collection {
        width: 45%;
    }
}

@media (max-width:768px) {
    .page2collection {
        width: 100%;
    }

    .page2name p {
        font-size: 1.2rem;
    }

    .captions {
        padding: 0.5vw 0.3vw;
        color: #252525;
    }

    .page2description p {
        font-size: 1.1em;
    }

}

.page2head h1 {



    font-size: 28px;
    font-style: normal;


    /* font-weight: 400; */
    letter-spacing: 0em;
    line-height: 1.4em;
font-family: lght,sans-serif;
    text-align:start;
    color: #252525 ;text-decoration: none;

}
@font-face {
    font-family: lght;
    src: url("../../assets/fonts/HostGrotesk-Light-BF65bb091d17f03.otf");
}