.cart-drawer {
  position: fixed;
  top: 0px;
  right: 0;
 max-width: 100%;
  height: 100vh;width: 29%;
  background: #fff;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.15);
  z-index: 999;
  transform: translateX(100%); /* hidden by default */
  display: flex;
  flex-direction: column;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.cart-body {
  min-height: 100vh;
  flex: 1;width: 100%;
  overflow-y: auto;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width:769px) {
    .cart-drawer{
        width: 100%;
    }
}
