.sectionshop {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 5vw 3vw;
    flex-direction: column;
    min-height: 100vh;
}

.allsection {
    width: 100%;
    min-height: 70vh;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;
}

@font-face {
    font-family: face;
    src: url("../../assets/fonts/HostGrotesk-Light-BF65bb091d17f03.otf");
}

.headings h1 {
    font-size: 4em;
 
    font-weight: 400;
}

.headings p {
    font-size: 1.1em;
    font-weight: 500;

}

.headings {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3vw 1vw;
}

@media (max-width:1024px) {
        .allsection{
                gap: 5em;
        }
    .sectionshop{
        padding:20vw 3vw ;
    }
}
@media (max-width:1024px) {
 .headings h1{
    font-size: 2.5em;
 }
    
}