.mainlayout {
    width: 100%;
    min-height: 100vh;
    /* background-color: blue; */
    padding: 6vw 2vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.text-layout {
    width: 100%;
    height: auto;
    padding: 3vw 4vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;

}

.text-layout h1 {
    font-size: 4em;
    font-weight: 500;

}

.text-layout p {
    font-family: "Manrope", "Manrope Placeholder", sans-serif;
    font-size: 1.2em;
}

.contentslayout {
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;

}

.items {
    width: 100%;
    height: auto;
    padding: 3vw 3vw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.items h1 {
    font-size: 2.4em;
}

.items p {
    font-size: 1.1em;
}



@media (max-width:425px) {
    .text-layout h1 {
        font-size: 2em;


    }

    .items h1 {
        font-size: 1.4em;
    }

    .mainlayout {
        margin-top: 50px;
    }

}