footer {
    max-width: 100%;
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);


}

.mainfooter {
    max-width: 100%;
    padding: 2vw 3vw;
    display: flex;
    border-bottom: 1px solid #484646a0;
    /* background-color: green; */
}

.newslettersection {
    width: 100%;
    padding: 4vw 2vw;
}

.newslettersection p {
    font-size: 2em;
    color: #252525;

}

.newslettersection input {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 14px 0px 14px 14px;
    outline: none;
    border: none;
    border-bottom: 1px solid #252525;
    color: #252525;

    height: 34px;
    font-size: 1em;
}

a {
    color: #252525;
}

.newslettersection button {
    width: 100%;
    outline: none;
    outline: none;
    color: white;
    font-size: 1.2em;
    background-color: #252525;
    height: 50px;
}

.footernavsection {
    gap: 2em;
    padding: 4vw 2vw;
    width: 45%;
    font-weight: 550;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copy {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1vw 1vw;
    font-size: 1em;
    justify-content: center;
    font-weight: 600;

    color: #252525;
}




@media (max-width:1024px) {
    .footer {
        flex-direction: row;
    }

    .mainfooter {
        flex-direction: column-reverse;
    }

    .footernavsection {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .newslettersection {
        flex-direction: column;
        align-items: center;justify-content: space-between;
        width: 100%;
    }

    .newslettersection input button {
        width: 100%;
    }

}

@media (max-width:768px) {
    .newslettersection input {
        text-align: center;
    }

    .newslettersection input button {
        width: 100%;
        padding: 1vw 4vw;
        text-align: center;
    }

    .newslettersection p {
        font-size: 1.2em;
        text-align: center;
    }

    .copy {
        font-size: 12px;
    }

}